* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $black-alpha-6;
  color: $color-white;
  font-family: Arial-Black, sans-serif;
}

.container {
  margin: 2rem auto;
  width: 80%;

  p {
    margin: 1rem 0;
  }
}
