// HEX
$color-black: #000;
$color-white: #fff;

// RGB/A TONES
$wht-alpha-2: rgba(255, 255, 255, .2);
$wht-alpha-4: rgba(255, 255, 255, .4);
$wht-alpha-6: rgba(255, 255, 255, .6);
$wht-alpha-8: rgba(255, 255, 255, .8);

$black-alpha-2: rgba(0, 0, 0, .2);
$black-alpha-4: rgba(0, 0, 0, .4);
$black-alpha-6: rgba(0, 0, 0, .6);
$black-alpha-8: rgba(0, 0, 0, .8);

$lt-gray: rgba(200, 200, 200, 1);
$lt-gray-alpha-5: rgba(200, 200, 200, .5);

// RGBA COLORS
$dark-red: rgb(100, 0, 0);
$dark-red-alpha-4: rgba(100, 0, 0, .4);
$dark-red-alpha-6: rgba(100, 0, 0, .6);
$dark-red-alpha-8: rgba(100, 0, 0, .8);

$dark-yellow: rgb(150, 150, 0);
$dark-yellow-alpha-2: rgba(150, 150, 0, .2);
$dark-yellow-alpha-4: rgba(150, 150, 0, .4);
$dark-yellow-alpha-6: rgba(150, 150, 0, .6);
$dark-yellow-alpha-8: rgba(150, 150, 0, .8);
// SHADOWS
